header#site-header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--header-background-color);

  &.full-page {
    height: 100vh;
  }

  div#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px 64px;
    width: 100%;

    a#logo {
      text-decoration: none;
      display: block;

      img {
        width: 330px;
      }
    }

    div.links {
      display: flex;
      flex-direction: row;

      a {
        margin-left: 25px;
      }
    }
  }

  &.category div#top-bar {
    position: absolute;
    top: 0;
    left: 0;
  }


  div.content {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @import "_header-navigation.scss";
    @import "_header-product.scss";

    div.feature-image img {
      height: auto;
      width: auto;
      max-height: 100vh;
    }
  }
}