header#site-header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--header-background-color);

  &.full-page {
    height: 100vh;
  }

  a#logo {
    text-decoration: none;
    display: block;
    padding: 32px 64px;

    img {
      width: 330px;
    }
  }


  &.category a#logo {
    position: absolute;
    padding: 0;
    top: 32px;
    left: 64px;
  }


  div.content {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @import "_header-navigation.scss";
    @import "_header-product.scss";

    div.feature-image img {
      height: auto;
      width: auto;
      max-height: 100vh;
    }
  }
}